log4j.settings
EventForwarder.properties
src/frontend/public_html/lib/bower
frontend/public_html/images/Eclipse0f989895-65a6-3af3-bf02-497cd0f4f35bK
bin
renderedVideos
test_screencasting
HF
screencasting.log*
*.sqlite
*.sqlite-journal
*.ini
test.png
test.jpg
sampleScreencastMinute.zip
PlanningImages
.DS_Store
