
  <ul class='list-group unselectable pointer' style="min-width:145px"> <!--min width to prevent the size from changing when the widest element is selected/deselected -->
    <li 
    	ng-repeat='option in ordering.options' class='list-group-item'
    	ng-class='{"list-group-item-success" : (ordering.field == option.field) }'
        ng-click='orderingFunc(option.field, tools.$object.length)'>
      {{option.name}}
      <span ng-class='{reverse: !ordering.reverse, caret : (ordering.field == option.field)}'
            ></span>
    </li>
  </ul>
