<div>
  <h2>Share {{display.info.application || 'nothing'}}/{{display.info.tool || 'nothing'}} with {{display.info.share_with_name}} [{{display.info.share_with_email}}]</h2>

  <div class="shareGrid col-md-2" ng-grid="shareGridOptions" ng-show="!cancelled && !hasShared"></div>

  <div id='share-player' class="col-md-8" ng-if="ready" ng-controller='PlayerCtrl'
  ng-include="'partials/player.html'" ng-show="!cancelled &&!hasShared"></div>

  <div ng-show="ready && !cancelled && !hasShared" id="shareButtonsContainer" class="col-md-1" ng-controller="ShareDropDownCtrl">
    <button id="shareClip" class="shareClipButton btn btn-default" ng-click="shareClip(false)">
      Share With Just {{display.info.share_with_name}}
    </button>
    <br/>
    <button id="shareAll" class="shareClipButton btn btn-default" ng-click="shareClip(true)">
      Share With Everybody
    </button>
    <br/>
    <div class="btn-group" ng-show="!hasShared" dropdown is-open="dropDownStatus.isopen" style="margin:5px">
      <button id="noClips" type="button" class="shareClipButton btn btn-default" ng-click="toggleDropdown($event)" >
        Share No Clips
      </button>
      <div class='dropdown-menu'>
        <textarea id="no-share-reason" placeholder="Consider giving a reason for not sharing..."></textarea>
        <button ng-click="cancelSharing()">Confirm No Sharing</button>
      </div>
    </div>
  </div>

  <div ng-show="hasShared">
    Your shared screencast is on its way!  Thanks for sharing.
  </div>

  <div ng-show="cancelled">
    No screencasts have been sent.  Your message, if you gave one, will be delivered soon.
  </div>

</div>