<div class='tool-block'>
  <div class='tool-header'>
    <h4>{{tool.name}}</h4>
    <div class='tool-statuses'>
      <span class='label label-info' ng-if='tool.unused'>Unused</span>
    </div>
  </div>
  <div class='tool-users' ng-if='tool.users.length > 0'>
    <span>Used by:</span>
    <ul class='list-inline'>
      <li class='tool-user' ng-repeat='user in tool.users'>
        <a ng-click='getVideo(user)' class='pointer'>{{user.name}}</a>
        <span class='glyphicon glyphicon-facetime-video'
              ng-if='hasVideo(user)'></span>
      </li>
    </ul>
  </div>
</div>