<div class='tool-block'>
  <div class='tool-header'> 
    <div>
      <h4>{{tool.name}}</h4>
      <img ng-src='{{icon(tool.application)}}'/>
      <div class="application-name">{{tool.application}}</div>
    </div>
    <div class='tool-stauses'>
      <span class='label label-info unused-label' ng-if='tool.unused'>Unused</span>
    </div>
  </div>
  <span>Used by:</span>
  <div class='tool-users' ng-if='tool.users.length > 0'>
    <ul class='list-inline'>
      <li class='tool-user' ng-repeat='user in tool.userObjects'>
        <ng-include src="'partials/user-thumbnail.html'">
      </li>
    </ul>
  </div>
</div>