<li class="list-group-item group-heading">
  Filter by <span class="lowercase">{{filter.name}}</span>
</li>
<li id='{{filter.name | lowercase}}-filter' class="list-group-item">
  <div ng-repeat='item in filter.filters' class='filter-item'>
    <span>{{item.name || item}}</span>
    <button class="close" ng-click='removeFilter(item)'>&times;</button>
  </div>
  <div class='input-group'>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"
              ng-click='addFilter(filter.input)'>
        <span class='glyphicon glyphicon-plus'></span>
      </button>
    </span>
    <input type='text' ng-model='filter.input'
           typeahead='item as item.name for item in filter.source | filter:$viewValue | limitTo:8'
           typeahead-template-url='{{filter.templateUrl}}'
           typeahead-on-select='addFilter($item)'
           class='form-control'
           placeholder='{{filter.name}}'
           clearable
           />
  </div>
</li>