#panel{

}
#panelAndOverlay{
	position:relative;  /*allows the overlay to be absolute, relative to this div*/	
	width:40%;
}

#panel:-webkit-full-screen {
	width:100%;
}

.frame{
	display:none;
	width:100%;
	height:100%;
}

.keyAnimation {
	position:absolute;
	bottom:0;
	right:0;
	width:35%;
	opacity: .8;
}
.keyAnimation.full{
	display:none;
}

#controlPanel{
	width:40%;
}


#staticSliderHolder,#dockedSliderHolder {
	margin-left:5px;
	display:inline-block;
	width:88%;
}

.playPause{
	width:10%;
	height:50px;
}
.playPause img{
	width:100%;
	height:100%;
}

#overlay{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	background-color:#F0F0F0;
	z-index:20;
	opacity:0.0;
	text-align:center;
	vertical-align:middle;
	line-height:5.0em;
	font-size:2.5em;
}

#overlay:hover{
	opacity:0.5;
}

.playImage.play{
	display:none;
}

.pauseImage.pause{
	display:none;
}

#moduleControlPanel {
	width:40%;
	height:50px;
	padding:5px;
	display:none;
	position:absolute;
	top: 0;
	left:0;
	cursor:move;
}
