.debug {
	color:red;
}

body {
	background-color:#F0F0F0;
}

h1 {
   color:#ffa729;
   font-size:2.2em;
}

.hidden{
	display:none;
}



.resultsTable{
	display:block;
	float:left;
	margin:25px;
	background-color:white;
	border:3px solid orange;
	border-spacing:0;
	text-align:center;
	font-size:16px;
}

.resultsTable th {
	font-size:18px;
}

.resultsTable tbody {
	padding-right: 20px;
}


td, tr, th{
	padding:4px;
}

.rowHover{
	outline: 2px solid #e48600;
	background-color: #ffedd3;
}

.moreInfoTitle{	
	/*deprecated*/
	text-align:center;
}

.pluginListing {
	text-align:center;
}

.pluginListing input, .requestGeneration {
    padding: 10px 20px;
    color: #ffa729;
    background-color: white;
    font-size: 2.0em;
	margin:1px;
}

.requestGeneration{
	font-size: 1.2em;
}

.clickMe {
	font-size:16px;
	padding: 5px;
	cursor: pointer;
}

.showAll, .showUnique{
	display:block;
	color: #ffa729;
    background-color: white;
	font-size: 17px;
	margin:3px auto;
}

.showAll{
	display:none;
}

.pluginListing input:hover, .requestGeneration:hover {
    border: 3px solid #ffa729;
	margin:0;
}

#moreInfo{
	display: inline-block;
	border: 1px solid black;
	padding: 10px 20px;
	background-color:#ffdfb1;
	width: 720px;
	margin: 25px;
}

#requestShare {
	display:none;
}

#clipPlayer {
	display:none;
	width: 720px;
	height: 500px;
}

#clipDoesNotExist {
	display: none;
}

#clipLoading {
	display:none;
}

#viewOtherSpot {
	display:none
}

.sort {
	cursor:pointer;
	background-size: 15px;
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 20px;
}

.noSort {
	background-image: url("/images/table/noSort.svg");
}

.ascendSort {
	background-image: url("/images/table/ascendSort.svg");
}

.descendSort {
	background-image: url("/images/table/descendSort.svg");
}

.requestPermissions {
    color: green;
    background-color: white;
	margin:5px;
	font-size:16px;
	padding: 5px;
}

.requested {
	background-color: #FFE;
}

.requestPermissions:hover{
	border: 3px solid green;
}

.requestPermissions.requested {
	border:3px solid black;
}
.requestPermissions.requested:hover{
	border:3px solid black;
}

#rating {
    float: right;
}

#notTimeYet{
	display:none;
}

.noClipsShared {
	border:1px solid black;
	padding:3px;
	margin-left:10px;
}

.noKeyboard {
	outline: 3px solid #29b350;
	background-color: #d5f5de;
}

.newTool { /* For marking tools in the comparison table that have not yet been used by the viewer */
	background-color: #baeec8;
}

.noUseBorder {
	outline: 3px solid #29b350;
}

#prevTable {
	float: left;
}