.newTool { /* For marking tools in the comparison table that have not yet been used by the viewer */
	background-color: #baeec8;
}

/* Bootstrap stuff */
.container {
	text-align: center;
	width: 100%;
}

.container-fluid {
    padding-top: 65px;
}

/* tool tables */
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 500px;
}

#main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#main > div {
    flex: 0 1 auto;
    margin: 0 15px 15px 0;
}

#tool-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

#tool-view > div {
    flex: 0 1 auto;
    margin: 0 15px 15px 0;
}