#clipList {
	max-width:15%;
	min-width:10%;

}

.share-item {
	cursor:pointer;
}

.shareGrid {
	height:500px;
}

.shareClipButton {
    background-color: white;
	margin:5px;
	font-size:16px;
	padding: 5px;

}