#moreInfo {
	float:left;
	margin-left:17.5%;
	margin-right:0;
	width: 55%;
}

h1 {
	margin-top:5%;
}

#sidebar {
	background:#ffdfb1;
	border:1px solid black;
	width:200px;
	height:200px;
	float:right;
	position:relative;
}

.shareClipButton {
    color: green;
    background-color: white;
	margin:5px;
	font-size:16px;
	padding: 5px;

}

.shareClipButton:hover{
	border: 3px solid green;
	margin:4px;
}

.shareClipButton.disabled {
	border:none;
}
.shareClipButton.disabled:hover{
	border:none;
	margin:5px;
}

.noClips {
	position:absolute;
	bottom:0;
	color: red;
}

.noClips:hover{
	border: 3px solid red;
	margin:4px;
}

.shared {
	margin:0;
	border: 3px solid #5db535;
}

.shared:hover{
	border-color: #8cd46b;
}

.activated.shared {
	border-color:#3b7421;
}