<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="basic.css" />
    <link rel="stylesheet" href="loading.css" />
    <link rel="stylesheet" href="playback.css" />
</head>
<body>
    <h1>Click on the plugin name to see more info</h1>


    <#list pluginNames as plugin>
  <div class="pluginListing">
      <form method="POST" action="index">
          <input name="thingToDo" type="hidden" value="getToolUsageForPlugin" />
          <input name="pluginName" type="submit" value="${plugin}" />
      </form>
  </div>

    </#list>

    <script src="jquery.min.js"></script>
    
</body>
</html>
