<!DOCTYPE html>
<html>
<head>
    <title>Co-worker Tool Comparison</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="jquery/jquery-ui.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/basic.css" />
    <link rel="stylesheet" href="css/jquery.rating.css" />
    <link rel="stylesheet" href="css/loading.css" />
    <link rel="stylesheet" href="css/playback.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-name="${userName}" data-email="${userEmail}" data-token="${userToken}" data-plugin="${plugin}">

  <!-- Navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Socaster</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <p class="navbar-text">${userName}</p>
          <li>
            <div class="btn-group navbar-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">${plugin} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
            <#list pluginNames as name>
                <li><a href="/?pluginName=${name}">${name}</a></li>
            </#list>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">About</a></li>
          <li><a href="#settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

    <!-- Main container -->
    <div class="container-fluid main">
      <div class="row">

        <!-- More info -->
        <div id="moreInfoCol" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-push-6">
          <div id="moreInfo">
            <div id="placeholder">Select a tool for more info.</div>
            <div id="clipDoesNotExist">No clips exist locally for this tool.  This is unexpected...</div>
            <div id="requestShare"><div id="requestText">You do not have permission to view this users usages of the tool.</div><br/><button class="requestPermissions">Click to Request Permission</button></div>

            <div id="clipLoading">Loading clips</div>
            <div id="clipPlayer">
              <div id="mediaTitle"></div>
              <div id="panelAndOverlay">
                <div id="overlay">
                  <span>Click for Full Screen</span>
				  
                </div>
                <div id="underlay"></div>
                <div id="panel" data-total-frames="" data-type="" data-playback-directory="" data-auth="">

                  <div id="moduleControlPanel" class="ui-widget-content">
                    <button class="playPause">
                      <img class="playbackCommand playImage pause" src="/images/playback/play.svg" />
                      <img class="playbackCommand pauseImage pause" src="/images/playback/pause.svg" />
                    </button>
                    <div class="settings">
                      <div id="animationSelectionSpot1" class="staging"></div>
                      <img class="animationSelection" src="/images/none.png" />
                    </div>
                    <div id="dockedSliderHolder">
                      <div id="dockedSlider" class="slider">
                        <label class="startLabel" title="The tool gets used here">&nbsp;</label>
                      </div>
                    </div>
                  </div>
                  <div id="keyAnimationSpot" class="staging"></div>
                  <div id="frameSpot" class="staging"></div>
                </div>
              </div>

              <div id="controlPanel">
                <button class="playPause">
                  <img class="playbackCommand playImage pause" src="/images/playback/play.svg" />
                  <img class="playbackCommand pauseImage pause" src="/images/playback/pause.svg" />
                </button>
                <div class="settings">
                  <div id="animationSelectionSpot2" class="staging"></div>
                  <img class="animationSelection" src="/images/none.png" />
                </div>
                <div id="staticSliderHolder">
                  <div id="staticSlider" class="slider">
                    <label class="startLabel" title="The tool gets used here">&nbsp;</label>
                  </div>
                  <div id="editDiv">
				            <div id="editSlider" class="slider"></div>
				            <button id="saveClip">Save</button>
                  </div>
                </div>
              </div>
              <div id="ratingDiv">
                <form id ="rating">
                  <input name="rating" type="radio" value="1" class="star"/>
                  <input name="rating" type="radio" value="2" class="star"/>
                  <input name="rating" type="radio" value="3" class="star"/>
                  <input name="rating" type="radio" value="4" class="star"/>
                  <input name="rating" type="radio" value="5" class="star"/>
                </form>
              </div>
              <div id="viewOtherDiv">
                <br/>More GUI uses:
                <br/>
    		    <span id="viewOtherSpot" class="staging"></span>
              </div>
            </div>
          </div>
        </div>

        <!-- My tools table -->
        <div id="myToolsCol" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-md-pull-6">
          <table id="myToolsTable" border="1" class="resultsTable myTools span4">
            <thead>
              <tr>
                <th colspan="2">My Tools</th>
                <th><button id="keyButton"><img src="/images/key.svg"/></button></th>
              </tr>
              <tr>
                <th class="header sortable">Tool Name</th>
                <th class="header sortable"><img src="images/mouse-icon.png"/></th>
                <th class="header sortable"><img src="images/keyboard-icon.png"/></th>
              </tr>
            </thead>
            <tbody>
                <#list myToolsAndCounts as thisToolCount>
                  <tr class='clickMe myItem' data-tool-name="${thisToolCount.toolName}">
                    <td>${thisToolCount.toolName}</td>
                  <td>${thisToolCount.guiToolCount}</td>
                    <td>${thisToolCount.keyToolCount}</td>
                  </tr>
                </#list>
              </tbody>
          </table>
        </div>

        <!-- Users table -->
        <div id="usersCol" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-md-pull-6">
          <table border="1" id="usersTable" class="resultsTable">
            <thead>
              <tr class="header">
                <th id="otherUsers" class="sortable">Other users</th>
              </tr>
              <!--<tr class='header' id="notTimeYet"><th colspan="2">Sharing Disabled until 4/16/14.</th></tr>-->
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <!-- Other persons table -->
        <div id="otherPersonsCol" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-md-pull-6" style='display:none'>
          <table id="otherPersonsTable" border="1" id='otherPersonsTable' class="resultsTable">
            <thead>
              <tr class="changeName">
                <th colspan="4" id="otherPeoplesTools">
                  <button id='prevTable'>&laquo;</button>
                  <button id='prevUser'>&laquo;</button>
                  <span id="otherUsersPlaceHolder" data-email="">Loading Team-mates</span>
            
                  <button id='nextUser'>&raquo;</button>
                </th>
              </tr>
              <tr class="header">
                <th class="sortable">Tool Name</th>
                <th class="sortable"><img src="images/mouse-icon.png"/></th>
                <th class="sortable"><img src="images/keyboard-icon.png"/></th>
                <th class="sortable"><span class="glyphicon glyphicon-facetime-video"></span></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="keyTableDiv" title="Key">
      <table id="keyTable">
        <tbody>
          <tr style="background: #ffedd3; border: 2px solid #e48600;">
            <th>orange</th>
            <td>Used Tools</td>
          </tr>

          <tr style="background: #baeec8; border: 2px solid #29b350;">
            <td>green</td>
            <td>Unused Tools</td>
          </tr>

          <tr style="background: white; border: 1px solid gray">
            <td>white</td>
            <td>Known Tools</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="modal">
    </div>

  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="jquery/jquery.rating.pack.js"></script>
  <script src="jquery/jquery.MetaData.js"></script>
  <script src="jquery/jquery.form.js"></script>
	<script src="jquery/jquery-ui.min.js"></script>
  <script src="jquery/jquery.fullscreen.js"></script>
  <script src="jquery/jquery.tablesorter.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
  <script src="scripts/playback.js"></script>
  <script src="scripts/setUpPlayback.js"></script>
  <script src="scripts/comparison.js"></script>
	<script src="scripts/instrumentation.js"></script>
</body>
</html>