<!DOCTYPE html>
<html>
<head>
    <title>Share Clips</title>
    <link rel="stylesheet" href="css/basic.css" />
    <link rel="stylesheet" href="css/loading.css" />
    <link rel="stylesheet" href="css/playback.css" />
	<link rel="stylesheet" href="css/shareClip.css" />
</head>
<body data-name="${userName}" data-email="${userEmail}" data-token="${userToken}">
    <h1>Select a clip to share with <span id="userHeader"></span></h1>

    
    <div id="moreInfo">
        <div id="clipDoesNotExist">No clips exist locally for this tool.  This is unexpected...</div>
        <div id="clipLoading">Loading clips</div>
        <div id="clipPlayer">
            <div id="mediaTitle"></div>
            <div id="panelAndOverlay">
                <div id="overlay">
                    <span>Click for Full Screen</span>
                </div>
                <div id="panel" data-total-frames="" data-type="" data-playback-directory="" data-auth="">

                    <div id="moduleControlPanel" class="ui-widget-content">
                        <button class="playPause">
                            <img class="playbackCommand playImage pause" src="/images/playback/play.svg" />
                            <img class="playbackCommand pauseImage pause" src="/images/playback/pause.svg" />
                        </button>
                        <div class="settings">
                            <div id="animationSelectionSpot1" class="staging"></div>
                            <img class="animationSelection" src="/images/none.png" />
                        </div>
                        <div id="dockedSliderHolder">
                            <div id="dockedSlider" class="slider">
                                <label class="startLabel" title="The tool gets used here">&nbsp;</label>
                            </div>
                        </div>
                    </div>
                    <div id="keyAnimationSpot" class="staging"></div>
                    <div id="frameSpot" class="staging"></div>
                </div>
            </div>

            <div id="controlPanel">
                <button class="playPause">
                    <img class="playbackCommand playImage pause" src="/images/playback/play.svg" />
                    <img class="playbackCommand pauseImage pause" src="/images/playback/pause.svg" />
                </button>
                <div class="settings">
                    <div id="animationSelectionSpot2" class="staging"></div>
                    <img class="animationSelection" src="/images/none.png" />
                </div>
                <div id="staticSliderHolder">
                    <div id="staticSlider" class="slider">
                        <label class="startLabel" title="The tool gets used here">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div id="viewOtherDiv">
                <br/>View More Usages
                <br/>
		        <div id="viewOtherSpot" class="staging"></div>

            </div>
        </div>
    </div>

    <div class="modal">
    </div>


    <script src="jquery/jquery.min.js"></script>
    <script src="scripts/playback.js"></script>
    <script src="scripts/setUpPlayback.js"></script>
    <script src="scripts/shareClip.js"></script>

    <link rel="stylesheet" href="jquery/jquery-ui.min.css">
    <script src="jquery/jquery-ui.min.js"></script>
</body>
</html>
