<!DOCTYPE html>
<html>
<head>
    <title>Share Clips</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/loading.css" />
    <link rel="stylesheet" href="css/playback.css" />
    <link rel="stylesheet" href="css/basic.css" />
    <link rel="stylesheet" href="css/shareClip.css" />
</head>
<body data-name="${userName}" data-email="${userEmail}" data-token="${userToken}">
  <!-- Navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Socaster</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <p class="navbar-text">${userName}</p>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">About</a></li>
          <li><a href="#settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
      </div>
    </div>
  </div>

    <h1>Select one or more clips to share with <span id="userHeader"></span></h1>
    <div id="editPanel">
	
	<button id="cropButton" class="editButton" title="Make a rectangular viewing window">Crop Video</button>
	<button id="trimButton" class="editButton" title="Change the start or end time of the video">Trim Video</button>
	</div>
    <div id="moreInfo">
        <div id="clipDoesNotExist">No clips exist locally for this tool.  This is unexpected...</div>
        <div id="clipLoading">Loading clips</div>
        <div id="clipPlayer">
            <div id="mediaTitle"></div>
            <div id="panelAndOverlay">
				<div id="underlay"></div>
                <div id="panel" data-total-frames="" data-type="" data-playback-directory="" data-auth="">

                    <div id="moduleControlPanel" class="ui-widget-content">
                        <button class="playPause">
                            <img class="playbackCommand playImage pause" src="/images/playback/play.svg" />
                            <img class="playbackCommand pauseImage pause" src="/images/playback/pause.svg" />
                        </button>
                        <div class="settings">
                            <div id="animationSelectionSpot1" class="staging"></div>
                            <img class="animationSelection" src="/images/none.png" />
                        </div>
                        <div id="dockedSliderHolder">
                            <div id="dockedSlider" class="slider">
                                <label class="startLabel" title="The tool gets used here">&nbsp;</label>
                            </div>
                        </div>
                    </div>
                    <div id="keyAnimationSpot" class="staging"></div>
                    <div id="frameSpot" class="staging"></div>
                </div>
            </div>

            <div id="controlPanel">
                <button class="playPause">
                    <img class="playbackCommand playImage pause" src="/images/playback/play.svg" />
                    <img class="playbackCommand pauseImage pause" src="/images/playback/pause.svg" />
                </button>
                <div class="settings">
                    <div id="animationSelectionSpot2" class="staging"></div>
                    <img class="animationSelection" src="/images/none.png" />
                </div>
                <div id="staticSliderHolder">
                    <div id="staticSlider" class="slider">
                        <label class="startLabel" title="The tool gets used here">&nbsp;</label>
                    </div>
					<div id="editSlider" class="slider"></div>
                </div>
            </div>
            <div id="viewOtherDiv">
                <br/>More GUI uses:
                <br/>
		        <span id="viewOtherSpot" class="staging"></span>

            </div>
        </div>
    </div>

    <div id = "sidebar">
		<button class="shareClipButton shareClip">Share With <span id="userButton"></span></button>
		<br/>
		<button class="shareClipButton shareAll">Share With Everybody</button>
		<br/>
		<button class="shareClipButton noClips">Share No Clips</button>
    </div>


    <script src="jquery/jquery.min.js"></script>
    <script src="scripts/playback.js"></script>
    <script src="scripts/setUpPlayback.js"></script>
    <script src="scripts/shareClip.js"></script>
	<script src="scripts/instrumentation.js"></script>
    <link rel="stylesheet" href="jquery/jquery-ui.min.css">
    <script src="jquery/jquery-ui.min.js"></script>
</body>
</html>
