<div id="mediaTitle">{{clip.tool}}</div>
<div id="player" fullscreen='isFullscreen'>
  <div id="panel" ng-click='isFullscreen=!isFullscreen'>
    <div id='overlay' ng-hide='isFullscreen'>Click to toggle fullscreen</div>
    <img id='keyboardOverlay' ng-hide='kbdOverlay.mode == 3'
         ng-src="{{ imgDir + kbdOverlay.images[kbdOverlay.status][kbdOverlay.mode % 3] + auth }}"/>
    <img class='img-responsive' ng-src="{{ imgDir + clip.frames[player.pos] + auth }}"/>
  </div>

  <div id="controlPanel" ng-class="{fullscreen: isFullscreen}">
    <button id='playBtn' ng-click="player.playing = !player.playing">
      <img ng-src="{{ playBtnImages[player.playing] }}"/>
    </button>
    <div id='sliders'>
      <div ng-controller='PlaybackSliderCtrl' ng-mousedown="player.playing = false">
        <slider floor='0' ceiling='{{clip.frames.length -1}}' step='1' ng-model='player.pos'>
        </slider>
      </div>
      <div ng-controller='EditSliderCtrl' ng-show='player.editMode'>
        <slider floor='0' ceiling='{{clip.frames.length -1}}' step='1'
                ng-model='player.start' ng-model-range='player.end'>
        </slider>
      </div>
    </div>
    <div id='overlayMode' data-original-title="{{kbdOverlay.tooltip[kbdOverlay.mode]}}" ui-jq="tooltip">
      <img class='img-responsive' src="{{'images/' + kbdOverlay.images['active'][kbdOverlay.mode]}}" ng-click='kbdOverlay.mode = (kbdOverlay.mode + 1) % 4'/>
    </div>
  </div>
  <div ng-controller='RatingCtrl' id='rating' ng-show='showRating'>
    <rating ng-model='score'></rating>
  </div>
</div>