<div>
  <h2>Share {{applicationName}}/{{toolName}} with {{shareWithName}} [{{shareWithEmail}}]</h2>

  <div class="shareGrid col-md-2" ng-grid="shareGridOptions"></div>

  <div id='share-player' class="col-md-9" ng-if="ready" ng-controller='PlayerCtrl'
       ng-include="'partials/player.html'">
  </div>

  <div ng-if="ready" id="shareButtonsContainer" class="col-md-1">
	<button id="shareClip" class="shareClipButton btn btn-default" ng-click="shareClip(false)">
      Share With {{shareWithName}}
    </button>
	<br/>
	<button id="shareAll" class="shareClipButton btn btn-default" ng-click="shareClip(true)">
      Share With Everybody
    </button>
	<br/>
	<button id="noClips" class="shareClipButton btn btn-default" ng-click="cancelSharing()">
      Share No Clips
    </button>
  </div>
</div>