
<div>
     <h2>Requests you have made</h2>
     <ul id="requestList" class="list-group">
        <li ng-repeat="request in sent" ng-attr-title="Created: {{request.created | date : 'medium'}} Last updated: {{request.updated | date : 'medium'}}" class="list-group-item">
        <span ng-if="getBadgeText(request) !== undefined" class="badge">{{getBadgeText(request)}}</span>
        Requested access to {{request.recipient.name}}'s usage of {{request.plugin}}/{{request.tool}}
        

        <a ng-repeat="shared_video in request.shared_videos" ng-href="shared_video">{{"Example " +($index +1)}}</a>

        </li>
     </ul>

     <h2>Notifications for you</h2>
     <ul id="notificationList" class="list-group">
        <li ng-repeat="request in received" ng-attr-title="Created: {{request.created | date : 'medium'}} Last updated: {{request.updated | date : 'medium'}}" class="list-group-item">
        <span ng-if="getBadgeText(request) !== undefined" class="badge">{{getBadgeText(request)}}</span>
        {{request.message}}

        <a ng-if="getShareLink(request) !== undefined" ng-href="{{getShareLink(request)}}">Respond</a>
        </li>
     </ul>
</div>