<li class="list-group-item group-heading">
  Users
</li>
<li id='user-filter' class="list-group-item" ng-controller='UserFilterCtrl'>
  <div ng-repeat='filter in filters.userFilters track by filter.email || filter'
       class='filter-item'>
    {{filter.name || filter}}
    <button class="close" ng-click='removeFilter(filter)'>&times;</button>
  </div>
  <div class='input-group'>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"
              ng-click='addFilter(input)'>
        <span class='glyphicon glyphicon-plus'></span>
      </button>
    </span>
    <input type='text' ng-model='input'
           typeahead='user as user.name for user in application.$object.users | filter:$viewValue | limitTo:8'
           typeahead-on-select='addFilter($item)'
           class='form-control'
           placeholder='User'
           clearable
           />
  </div>
</li>